.element {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  margin: 0 auto;
  transform: scale(1.1);
  background-color: yellow;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
    border-radius: 80%;
  }

  80% {
    transform: scale(1.5);
    background-color: #ffcc00;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

/* wall effect*/
.wall {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  margin: 0 auto;
  transform: scale(1.1);
  background-color: #2b2d42;
  animation-name: stretchwall;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretchwall {
  0% {
    transform: scale(0.3);
    background-color: #edf2f4;
  }
  50% {
    background-color: #8d99ae;
  }

  100% {
    transform: scale(1.3);
    background-color: #2b2d42;
  }
}

.red {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  margin: 0 auto;
  transform: scale(1.1);
  background-color: red;
}
