* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html {
  background-color: lightgray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

td {
  height: 25px;
  width: 25px;

  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  background-color: white;
  transition: background-color 0.5s ease;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.indigo {
  background-color: indigo;
}
.violet {
  background-color: violet;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.brown {
  background-color: brown;
}
